pkgbase = rnote
	pkgdesc = A simple drawing application to create handwritten notes
	pkgver = 0.12.0
	pkgrel = 2
	url = https://github.com/Doublonmousse/rnote
	arch = x86_64
	license = GPL3
	makedepends = meson
	makedepends = cargo
	makedepends = cmake
	makedepends = clang
	makedepends = git
	depends = gtk4
	depends = glib2
	depends = libadwaita
	depends = poppler-glib
	depends = gstreamer
	depends = alsa-lib
	options = !lto
	source = rnote-debug_1258_unsaved_indicator.tar.gz::https://github.com/Doublonmousse/rnote/archive/refs/heads/debug_1258_unsaved_indicator.tar.gz
	b2sums = 3e9078a40b892be02b7e653579966aac5d8157ad8db38a61d9a56cc7428206b31829d83ce440577a567a5c580c26ad01f811ff7fc0d07ce73422c09ea020fa11

pkgname = rnote
