pkgbase = rnote
	pkgdesc = A simple drawing application to create handwritten notes
	pkgver = 0.12.0
	pkgrel = 2
	url = https://github.com/Doublonmousse/rnote
	arch = x86_64
	license = GPL3
	makedepends = meson
	makedepends = cargo
	makedepends = cmake
	makedepends = clang
	makedepends = git
	depends = gtk4
	depends = glib2
	depends = libadwaita
	depends = poppler-glib
	depends = gstreamer
	depends = alsa-lib
	options = !lto
	source = rnote-debug_1258_unsaved_indicator.tar.gz::https://github.com/Doublonmousse/rnote/archive/refs/heads/debug_1258_unsaved_indicator.tar.gz
	b2sums = efd3b1ebf30f805fc5760672233f2d5af92760e374d126b91e48351ee65ffc33428f3e15b9743dca965ae9b18b2e5444cf38ef2c1aaae6281c5ec9b4626b048e

pkgname = rnote
